<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>Chinese</string>
  <key>LSUIElement</key>
  <true/>
  <!-- <key>NSAppleEventsUsageDescription</key>
  <string>需要权限以在切换 Space 时激活窗口</string> -->
</dict>
</plist>